{% extends "base.html" %}
{% block start %}



<div class="container ">
  <section id="featured-recipes" style=" padding: 5px 0;">
    <div class="container mx-auto" style=" width: 80%;
    margin: 0 auto;
    color:#333;
">
        <h2 class="mt-5">All Recipes</h2>
        
            {% for recipe in recipes %}
            <div class='row' style="background-color: #fff;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">

            <div class="col-2">
                <img class= "rounded " src="{{ recipe.recipe_image.url }}" style="height : 200px; width: 150px"></div>

            <div class="col">
                <h3>{{ recipe.recipe_name }}</h3>
                <p>{{ recipe.recipe_description }}</p>
                <a href="/full-recipe/{{ recipe.id }}/" class = "btn btn-secondary">View Full Recipe</a>
                {% if request.user.is_superuser %}
                <a href = "/delete-recipe/{{recipe.id}}" class = "btn btn-danger m-2">Delete</a>
                <a href = "/update-recipe/{{recipe.id}}" class = "btn btn-success">Update</a>
                {% endif %}
            </div>
            </div>
            {% endfor %}
    </div>
</section>
      <!-- <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">S. No.</th>
            <th scope="col">Recipe Name</th>
            <th scope="col">Recipe Description</th>
            <th scope="col">Recipe Image</th>
            {% if request.user.is_superuser %}
            <th scope="col">Actions</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{recipe.recipe_name}}</td>
            <td>{{recipe.recipe_description}}</td>
            <td>
                <img src="/media/{{recipe.recipe_image}}" style="height : 200px"></td>
            {% if request.user.is_superuser %}
            <td>
                <a href = "/delete-recipe/{{recipe.id}}" class = "btn btn-danger m-2">Delete</a>
                <a href = "/update-recipe/{{recipe.id}}" class = "btn btn-success">Update</a>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table> -->

</div>

{% endblock %}